/* Ocultar el scrollbar pero permitir el scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important; /* Ocultar scrollbar en Chrome, Safari y Opera */
}

.table-width {
  width: 95%;
}

.card {
  flex-basis: 49%;
  padding: 1rem;
}

.user-transition {
  transition: all 0.1s ease-out; /* Animación para entrada */
  transform: scale(0.95); /* Escala inicial */
  opacity: 0; /* Opacidad inicial */
}

.user-transition-active {
  transform: scale(1); /* Escala final */
  opacity: 1; /* Opacidad final */
}

.user-transition-exit {
  transition: all 0.075s ease-in; /* Animación para salida */
  transform: scale(1); /* Escala inicial para salida */
  opacity: 1; /* Opacidad inicial para salida */
}

.user-transition-exit-active {
  transform: scale(0.95); /* Escala final para salida */
  opacity: 0; /* Opacidad final para salida */
}